<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Vacantes.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Registro de Vacantes</title>
</head>

<body>
    <div class="container">
        Registro de Vacantes
        <form id="miFormulario">
            <div class="form-group col-sm-6 col-md-4 col-lg-3">
                <label for="id" class="form-label">ID Vacante</label>
                <input type="number" class="form-control" id="id">
            </div>
            <div class="form-group col-sm-6 col-md-4 col-lg-3">
                <label for="area" class="form-label">Area</label>
                <input type="text" class="form-control" id="area">
            </div>
            <div class="form-group col-sm-6 col-md-4 col-lg-3">
                <label for="sueldo" class="form-label">Sueldo</label>
                <input type="text" class="form-control" id="sueldo">
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="activo">
                <label class="form-check-label" for="flexCheckDefault">Activo</label>
            </div>
            <div class="container mt-4 shadow-lg p-3 mb-5 bg-body rounded">
                <table class="table table-bordered table-striped">
                    Vacantes
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Area</th>
                            <th>Sueldo</th>
                            <th>Activo</th>
                        </tr>
                    </thead>
                    <tbody id="data">
                    </tbody>
                </table>
            </div>
        </form>
        <button onclick="obtenerTotalDatos()" id="btnConsultarTodasVacantes" type="submit" class="btn btn-primary">Consultar Todas las Vacantes</button>
        <button onclick="obtenerDatos()" id="btnConsultarVacante" type="submit" class="btn btn-primary">Consultar Vacante</button>
        <button onclick="agregarDatos()" id="btnAgregarVacante" type="submit" class="btn btn-primary">Agregar Vacante</button>
        <button onclick="eliminarVacante()" id="btnEliminarVacante" type="submit" class="btn btn-danger">Eliminar Vacante</button>
        <button onclick="actualizarVacante()" id="btnActualizarVacante" type="submit" class="btn btn-primary">Actualizar Vacante</button>

        <script>
            const dataContenedor = document.getElementById('data');
            const obtenerTotalDatos = () => {
                fetch(`http://localhost:3000/vacante`)
                    .then(response => response.json())
                    .then(data => {
                        mostrarDatos(data);
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        dataContenedor.innerHTML = 'Ha ocurrido un error al obtener los datos.';
                    });
            };
            const mostrarDatos = (data) => {
                let body = "";
                for (let i = 0; i < data.length; i++) {
                    body += `<tr>
                                  <td>${data[i].id}</td>
                                  <td>${data[i].area}</td>
                                  <td>${data[i].sueldo}</td>
                                  <td>${data[i].activo}</td>
                              </tr>`;
                }
                dataContenedor.innerHTML = `<table>${body}</table>`;
            };
        </script>

        <script>
            const dataContainer = document.getElementById('data');
            const obtenerDatos = () => {
                const id = document.getElementById('id').value;
                fetch(`http://localhost:3000/vacante/${id}`)
                    .then(response => response.json())
                    .then(data => {
                        mostrarData(data);
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        dataContainer.innerHTML = 'La vacante no existe';
                    });
            };
            const mostrarData = (data) => {
                let body = "";
                const id = data && data.id ? data.id : '';
                const area = data && data.area ? data.area : '';
                const sueldo = data && data.sueldo ? data.sueldo : '';
                const activo = data && data.activo ? data.activo : '';

                body += `<tr>
                                <td>${id}</td>
                                <td>${area}</td>
                                <td>${sueldo}</td>
                                <td>${activo}</td>
                            </tr>`;
                dataContainer.innerHTML = `<table>${body}</table>`;
            };
        </script>
        
        <script>
            const mostrarMensaje = (mensaje) => {
                alert(mensaje);
            };

            const eliminarVacante = () => {
                const id = document.getElementById('id').value;

                if (!id) {
                    mostrarMensaje('Debe ingresar un ID válido para eliminar la vacante.');
                    return;
                }

                const confirmar = confirm('¿Está seguro de que desea eliminar esta vacante?');

                if (confirmar) {
                    fetch(`http://localhost:3000/vacante/${id}`, {
                        method: 'DELETE'
                    })
                        .then(response => {
                            if (!response.ok) throw new Error(response.statusText);
                        })
                        .then(data => {
                            mostrarMensaje(`Se eliminó correctamente la vacante con id ${id}.`);
                            obtenerTotalDatos();
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            mostrarMensaje('Ha ocurrido un error al eliminar la vacante');
                        });
                }
            };
        </script>

            <script>
                const actualizarVacante = () => {
                    const id = document.getElementById('id').value;
                    if (!id) {
                        alert('Debe ingresar un ID válido para actualizar la vacante.');
                        return;
                    }
                    const confirmar = confirm('¿Está seguro de que desea actualizar esta vacante?');

                    if (confirmar) {
                        const vacante = {
                            id: document.getElementById('id').value,
                            area: document.getElementById('area').value,
                            sueldo: document.getElementById('sueldo').value,
                            activo: !!document.getElementById('activo').checked,
                        };
                        fetch(`http://localhost:3000/vacante/${id}`, {
                            method: 'PUT',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify(
                                {
                                    id: vacante.id,
                                    area: vacante.area,
                                    sueldo: vacante.sueldo,
                                    activo: vacante.activo
                                }
                            ),
                        })
                            .then((response) => response.json())
                            .then((data) => {
                                alert(`Se actualizó correctamente la vacante con id ${id}.`);
                                obtenerTotalDatos();
                            })
                            .catch((error) => {
                                alert('Ha ocurrido un error al actualizar la vacante.');
                            });
                    }
                };

            </script>


            <script>
                //agregar datos
                const agregarDatos = () => {
                    const id = document.getElementById('id').value;
                    const area = document.getElementById('area').value;
                    const sueldo = document.getElementById('sueldo').value;
                    const activo = !!document.getElementById('activo').checked;

                    fetch('http://localhost:3000/vacante', {
                        method: 'POST',
                        body: JSON.stringify({
                            id: id,
                            area: area,
                            sueldo: sueldo,
                            activo: activo
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                        .then(response => response.json())
                        .then(data => {
                            obtenerTotalDatos();
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            dataContenedor.innerHTML = 'Ha ocurrido un error al agregar los datos.';
                        });
                };

            </script>
    </div>
</body>
</html>